# Configurações do Servidor
PORT=3001
NODE_ENV=development

# Configurações do Banco de Dados (PostgreSQL)
DB_HOST=db
DB_PORT=5432
DB_USER=loja_user
DB_PASS=loja_pass
DB_NAME=loja_roupas

# Segurança (JWT)
JWT_SECRET=mude_isso_em_producao
JWT_EXPIRES_IN=8h

# Regras de Negócio
FRETE_FIXO=10.00
